# put ignore spec here
# Ignore the built folders
**/repo*
**/RTAsset_Audio_EN_Set1.1.1.0
**/RTAsset_Audio_SW_Set1.1.1.0
**/RTAsset_Stories_EN_Set1.1.1.0
**/RTAsset_Stories_SW_Set1.1.1.0
**/RTAsset*.zip

# ignore the per-build Hash Filename cross reference files

master_cross*.csv
master_error*.csv.DS_Store
**/.DS_Store
**/CodeDrop1_Stories.1.1.0
**/CodeDrop1_Stories.1.1.0*
